body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#gameCanvas {
  touch-action: none; 
}

button {
  font-size: 1em;
  margin-top: 1em;
  padding: 0.25em 1em;
}
