body {
    margin: 0;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

#obstacle {
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: blue;
    bottom: 50px;
}

#score, #currency {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
}

button {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
