body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.score, .highscore {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.coin-display {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
}

#buy-ball-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#buy-ball-button:hover {
    background-color: #0056b3;
}
